@layer prospero {
  .book {
    overflow: hidden;
    position: relative;

    &.bookHidden {
      display: none;
    }

    .page,
    .slate {
      box-sizing: border-box;
      height: 100%;
      overflow-y: hidden;
      position: absolute;
      top: 0;
      white-space: pre-wrap;
    }

    .page {
      .pageNumber {
        bottom: 1em;
        right: 50%;
        position: absolute;
        translate: -50%;
      }
    }
  }

  .bookPagePicker {
    position: absolute;
    right: 50%;
    top: 0.5em;
    translate: 50%;
  }

  .bookBookmark {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
  }

  .bookLoadingIcon {
    position: absolute;
    right: 1em;
    top: 1em;
  }

  .bookTableOfContentsTrigger {
    left: 0.5em;
    position: absolute;
    top: 0.5em;
  }

  .bookTableOfContents {
    height: 100%;
    left: 0;
    list-style: none;
    max-width: 50%;
    position: absolute;
    top: 0;
  }
}
