.bookmark {
  border-color: black;
  border-bottom-color: transparent;
  border-style: solid;
  border-width: 18px;
  font-size: 12px;
  height: 6px;
  text-align: center;
  transition-duration: 0.3s;
  transition-property: border-color, color;
  width: 0;
}

.bookmarkContent {
  color: white;
  left: 50%;
  position: absolute;
  top: -1em;
  transform: translateX(-50%);
}

.bookmarkActivated {
  border-color: gold gold transparent gold;
}
