.defaultPageTheme {
  background-color: #faf9f6;
}

.defaultPageTheme:nth-of-type(n + 2)::before {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  content: '';
  display: block;
  height: 100%;
  left: -0.5px;
  position: absolute;
  top: 0;
}
